/*** FONTS ***/
:root {
    font-size: 62.5%; /* px->rem in base 10 */
}

/* stick-regular - latin */
@font-face {
    font-family: 'Stick';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/stick-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/stick-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-regular - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    src: local(''),
        url('../fonts/rubik-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-600 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 600;
    src: local(''),
        url('../fonts/rubik-v12-latin-600.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v12-latin-600.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* rubik-800 - latin */
@font-face {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 800;
    src: local(''),
        url('../fonts/rubik-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
        url('../fonts/rubik-v12-latin-800.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*** VARIABLES ***/
$font-h: 'Stick', Arial, Helvetica, sans-serif;
$font-p: 'Rubik', Arial, Helvetica, sans-serif;
$font_normal: 400;
$font-semibold: 600;
$font_bold: 800;
$font-size_normal: 2.0rem;
$font-size_h1: 6.0rem;
$font-size_h2: 4.2rem;
$font-size_h3: 3.0rem;
$line-height_button: 20px;
$line-height_normal: 2.8rem;
$line-height_h1: 7.5rem;
$line-height_h2: 6.25rem;
$line-height_h3: 4.0rem;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    font: {
        family: $font-p;
        weight: $font_normal;
        size: $font-size_normal;
    }
    line-height: $line-height_normal;
}
h1 {
    font: {
        family: $font-h;
        weight: $font_normal;
        size: $font-size_h1;
    }
    line-height: $line-height_h1;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
}


/*** MAIN ***/

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard {
    text-align: center;
    & button.key {
        font-weight: $font_bold;
        line-height: $line-height_button;
    }
}