/*** VARIABLES ***/
$color-back: #904830;
$color-back_light: #d8d8c0;
$color-back_dark: #301818;
$color-text_light: #d8d8c0;
$color-text_dark: #301818;
$color-h: #c09060;

$color_white: #ffffff;
$color_graya: #aaaaaa;
$color_gray5: #555555;
$color_black: #000000;
$color_01: #d8d8c0	;
$color_02: #c09060;
$color_03: #a87848;
$color_04: #904830;
$color_05: #301818;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    background-color: $color-back;
    color: $color-text_light;
}
h1 {
    color: $color-h;
}
/*
h3 {
    color: $color-text_white;
}*/