/*** VARIABLES ***/
$color-back: #218380;
$color-text_white: #ffffff;
$color-h: #ffbc42;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/