/*** VARIABLES ***/
$color__back: #904830;
$color__back_light: #d8d8c0;
$color__back_medium: #c09060;
$color__back_dark: #301818;
$color__text_light: #d8d8c0;
$color__text_dark: #301818;
$color__h: #c09060;

$color_white: #ffffff;
$color_graya: #aaaaaa;
$color_gray5: #555555;
$color_black: #000000;
$color_01: #d8d8c0	;
$color_02: #c09060;
$color_03: #a87848;
$color_04: #904830;
$color_05: #301818;

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
body {
    background-color: $color__back;
    color: $color__text_light;
}
h1 {
    color: $color__h;
}
/*
h3 {
    color: $color-text_white;
}*/


/*** MAIN ***/

/* Punteggio giocatore */
/* Player score */
#score {
    &_win, &_lose {
        background-color: $color__back_medium;
    }
}

/* Fulcro del gioco */
/* Full game */

/* Patibolo */
/* Gallows */

/* Contenitore per parola misteriosa, suggerimento ed errori. */
/* Contenitore per parola misteriosa, suggerimento ed errori. */ 
#mystery {
    &__word {
        background: $color__back_dark;
    }
    &__error {
        color: $color__text_dark;
    }
}

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard {
    & button.key {
        border: $color__back_dark;
        color: $color__text_dark;
    }
}