@import 'fonts';
@import 'theme';

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
main {
    width: 80%;
    min-width: 800px;
    margin: 0 auto 50px auto;
}
h1 {
    padding: 50px 0 30px 0;
}


/*** MAIN ***/

/* Punteggio giocatore */
/* Player score */
#score {
    text-align: center;
    display: flex;
    justify-content: center;
    & h3 {
        text-transform: uppercase;
    }
    &_win, &_lose {
        padding: 5px 20px;
        margin: 0 10px;
        width: 7.5%;
    }
}

/* Fulcro del gioco */
/* Full game */
#game {
    display: flex;
    justify-content: space-around;
    padding: 35px 10px;
}
/* Patibolo */
/* Gallows */
#gallows {
    width: 400px;
    height: 400px;
    background-color: #0f0;
}
/* Contenitore per parola misteriosa, suggerimento ed errori. */
/* Contenitore per parola misteriosa, suggerimento ed errori. */ 
#mystery {
    padding: 35px 10px;
    background-color: #000;
    text-align: center;
    width: 400px;
    &__word {
        padding: 20px 10px;
    }
}

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard {
    & button.key {
        padding: 10px;
        width: 50px;
        height: 50px;
        margin: 10px;
        border-radius: 4px;
    }
}