@import 'fonts';
@import 'theme';

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/

/*** BASECAMP ***/
main {
    width: 80%;
    margin: 0 auto 50px auto;
}
h1 {
    padding: 50px 0 35px 0;
}