/*** FONTS ***/
:root {
  font-size: 62.5%;
  /* px->rem in base 10 */
}

/* stick-regular - latin */
@font-face {
  font-family: 'Stick';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/stick-v1-latin-regular.woff2") format("woff2"), url("../fonts/stick-v1-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-regular - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/rubik-v12-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v12-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-600 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  src: local(""), url("../fonts/rubik-v12-latin-600.woff2") format("woff2"), url("../fonts/rubik-v12-latin-600.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* rubik-800 - latin */
@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  src: local(""), url("../fonts/rubik-v12-latin-800.woff2") format("woff2"), url("../fonts/rubik-v12-latin-800.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/*** VARIABLES ***/
/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.8rem;
}

h1 {
  font-family: "Stick", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 6rem;
  line-height: 7.5rem;
  letter-spacing: 0.05em;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 3rem;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 2.3rem;
  line-height: 2.6rem;
  text-align: center;
  text-transform: uppercase;
}

/*** MAIN ***/
/* Fulcro del gioco */
/* Full game */
/* Patibolo */
/* Gallows */
/* Contenitore per parola misteriosa, suggerimento ed errori. */
/* Contenitore per parola misteriosa, suggerimento ed errori. */
#mystery h3 {
  text-transform: uppercase;
  font-weight: 600;
}

#mystery__word #death_word {
  line-height: 3rem;
}

#mystery__tip, #mystery__error {
  font-size: 1.6rem;
}

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard {
  text-align: center;
}

#hangmanKeyboard button.key {
  font-weight: 800;
  line-height: 20px;
}

/*** VARIABLES ***/
/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
body {
  background-color: #904830;
  color: #d8d8c0;
}

h1 {
  color: #c09060;
}

/*
h3 {
    color: $color-text_white;
}*/
/*** MAIN ***/
/* Punteggio giocatore */
/* Player score */
#score_win, #score_lose {
  background-color: #c09060;
}

/* Fulcro del gioco */
/* Full game */
/* Patibolo */
/* Gallows */
/* Contenitore per parola misteriosa, suggerimento ed errori. */
/* Contenitore per parola misteriosa, suggerimento ed errori. */
#mystery__word {
  background: #301818;
}

#mystery__error {
  color: #301818;
}

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard button.key {
  border: #301818;
  color: #301818;
}

/*** ------------------------- *** ------------------------- *** ------------------------- *** ------------------------- ***/
/*** BASECAMP ***/
main {
  width: 80%;
  min-width: 800px;
  margin: 0 auto 50px auto;
}

h1 {
  padding: 50px 0 30px 0;
}

/*** MAIN ***/
/* Punteggio giocatore */
/* Player score */
#score {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#score h3 {
  text-transform: uppercase;
}

#score_win, #score_lose {
  padding: 5px 20px;
  margin: 0 10px;
  width: 7.5%;
}

/* Fulcro del gioco */
/* Full game */
#game {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 35px 10px;
  min-height: 400px;
}

/* Patibolo */
/* Gallows */
#gallows {
  width: 50%;
  border: 1px solid cyan;
}

/* Contenitore per parola misteriosa, suggerimento ed errori. */
/* Contenitore per parola misteriosa, suggerimento ed errori. */
#mystery {
  width: 50%;
  padding: 35px 10px;
  border: 1px solid red;
  text-align: center;
}

#mystery__word {
  padding: 20px 10px;
}

#mystery__error {
  padding: 20px 0;
}

#mystery__tip #death_tip {
  font-style: italic;
}

/* Tastiera a monitor */
/* Keyboard */
#hangmanKeyboard button.key {
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
  border-radius: 4px;
}
/*# sourceMappingURL=style.css.map */